---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = async () => {
  const articles = await getCollection("articles");
  const paths = articles.map((article) => {
    return {
      params: {
        slug: article.slug,
      },
      props: {
        article,
      },
    };
  });

  return paths;
};

type Props = {
  article: CollectionEntry<"articles">;
};

const { article } = Astro.props;
const { Content } = await article.render();
---

<Layout title="Articles Collection">
  <main class="leading-loose list-disc">
    <Content />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  ul {
    list-style-type: disc;
  }
</style>
