---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";
import { DropdownMenu } from "@/components/ui/dropdown-menu";

export const getStaticPaths = async () => {
  const articles = await getCollection("articles");
  const paths = articles.map((article) => {
    return {
      params: {
        slug: article.slug,
      },
      props: {
        article,
      },
    };
  });

  return paths;
};

type Props = {
  article: CollectionEntry<"articles">;
};

const { article } = Astro.props;
const { Content } = await article.render();
---

<Layout title={article.data.title}>
  <div class="m-auto flex w-8/12 flex-row align-top">
    <main class="w-3/4 flex-none">
      <Breadcrumb>
        <BreadcrumbList>
          <BreadcrumbItem>
            <BreadcrumbLink href="/">Home</BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>
            <BreadcrumbLink href="/pixar">The Pixar Project</BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbItem>
            <DropdownMenu />
          </BreadcrumbItem>
        </BreadcrumbList>
      </Breadcrumb>

      <div class="content">
        <div class="header">
          <span class="title">{article.data.title}</span>
          <span class="subhead">{article.data.subhead}</span>
          <span class="date">{article.data.date}</span>
        </div>

        <div class="prose dark:prose-invert">
          <Content /><!-- rendered markdown from the page -->
        </div>
      </div>
    </main>
    <sidebar class="w-24 flex-1 justify-self-start p-6">sidebar</sidebar>
  </div>
</Layout>
