---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = async () => {
  const articles = await getCollection("articles");
  const paths = articles.map((article) => {
    return {
      params: {
        slug: article.slug,
      },
      props: {
        article,
      },
    };
  });

  return paths;
};

type Props = {
  article: CollectionEntry<"articles">;
};

const { article } = Astro.props;
const { Content } = await article.render();
---

<Layout title={article.data.title}>
  <main>
    <div class="content">
      <div class="header">
        <span class="title">{article.data.title}</span>
        <span class="subhead">{article.data.subhead}</span>
        <span class="date">{article.data.date}</span>
      </div>

      <div class="prose dark:prose-invert">
        <Content /><!-- rendered markdown from the page -->
      </div>
    </div>
  </main>
</Layout>
