---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = async () => {
  const articles = await getCollection("articles");
  const paths = articles.map((article) => {
    return {
      params: {
        slug: article.slug,
      },
      props: {
        article,
      },
    };
  });

  return paths;
};

type Props = {
  article: CollectionEntry<"articles">;
};

const { article } = Astro.props;
const { Content } = await article.render();
---

<Layout title={article.data.title}>
  <main>
    <div class="content">
      <Content />
    </div>
  </main>
</Layout>
