.content {
  display: flex;
  flex-direction: column;
  color: white;

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    margin-block-end: 1rem;
  }

  ul {
    list-style-type: disc;
    padding-inline-start: 1rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-block-end: 4rem;

    .title {
      font-size: 3rem;
      font-weight: 900;
    }

    .subhead {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .date {
      font-size: 0.9rem;
      font-weight: 300;
    }
  }

  .callout {
    width: calc(100% - 3rem * 2);
    align-self: center;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
  }
}
