.content {
  display: flex;
  flex-direction: column;
  color: #ddd;

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    margin-block-end: 1rem;
    line-height: 2.5rem;

    sup {
      font-size: 60%;
    }
  }

  ul {
    list-style-type: disc;
    padding-inline-start: 1rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-block-end: 4rem;

    .title {
      font-size: 3rem;
      font-weight: 900;
    }

    .subhead {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .date {
      font-size: 0.9rem;
      font-weight: 300;
    }
  }

  .callout {
    width: calc(50% - 3rem * 2);
    align-self: center;
    padding: 1rem;
    margin: 0.25rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;

    &.left {
      margin-inline-start: 0;
      float: left;
    }

    &.right {
      margin-inline-end: 0;
      float: right;
    }
  }
}
