:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );

  --primary-color: darkorchid;
  --primary-color-light: color-mix(in srgb, var(--primary-color), white 70%);
  --primary-color-dark: color-mix(in srgb, var(--primary-color), black 30%);
}

body {
  margin: 0;
}

html {
  font-family:
    Noto Sans,
    system-ui,
    sans-serif;
  background: #13151a;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  text-align: left;
  margin-bottom: 1em;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  text-align: left;
  margin-block: 1em;
}

a {
  color: var(--primary-color);
  transition: all 400ms;

  &:hover {
    color: var(--primary-color-light);
  }
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: white;
  font-size: 20px;
  line-height: 1.6;
}

.footnotes {
  font-size: 0.9rem;

  h2 {
    font-size: 1rem;
  }
}
