---
title: Sample Content Collection Page
---

<p>
  OK, so this is where I'll put the content then, yeah? Ooooh, this is
  specifically for [_content
  collections_](https://docs.astro.build/en/guides/content-collections/),
  which I'll quite probably need to learn more about, but those are for,
  well, collecting all kinds of files of the same type together. Got it.
  Simple markdown pages can live in `pages`, I guess.

  Also, I still need to better figure out *routing*.

  No processing of anything happens here, those have to happen in `.astro`
  files...which, the more I look at it, this is probably supposed to be!
</p>
