---
import Layout from "../layouts/Layout.astro";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";
import { DropdownMenu } from "@/components/ui/dropdown-menu";
---

<Layout title="Digital Garden">
  <main>
    <Breadcrumb>
      <BreadcrumbList>
        <BreadcrumbItem>
          <BreadcrumbLink href="/">Home</BreadcrumbLink>
        </BreadcrumbItem>
        <BreadcrumbSeparator />
        <BreadcrumbItem>
          <DropdownMenu />
        </BreadcrumbItem>
      </BreadcrumbList>
    </Breadcrumb>

    <h1>Digital Garden</h1>

    <p style="text-align: center;">
      I'm still working on this. Coming soon, once I figure out what I'm doing
      here.
    </p>

    <h2>Things to Learn</h2>

    <ul>
      <li>
        <a href="https://docs.astro.build/en/guides/routing/">Routing</a>
      </li>
      <li>
        <a href="https://docs.astro.build/en/guides/content-collections/">
          Content Collection
        </a>
      </li>
    </ul>
  </main>
</Layout>
