---
import Layout from "../layouts/Layout.astro";
---

<Layout title="The Pixar Project">
  <main>
    <h1>The Pixar Project</h1>

    <h2>Schedule</h2>

    <div class="schedule">
      <span class="header">Publish Date</span>
      <span class="header">Movie</span>

      <span class="date">2024-09-15</span>
      <span class="flick">Introduction</span>

      <span class="date">2024-09-22</span>
      <span class="flick"><a>Toy Story</a> (1995)</span>
    </div>

    <h2>The Agenda</h2>

    <ul>
      <li>Toy Story (1995)</li>
      <li>A Bug's Life (1998)</li>
      <li>Toy Story 2 (1999)</li>
      <li>Monsters Inc. (2001)</li>
      <li>Finding Nemo (2003)</li>
      <li>The Incredibles (2004)</li>
      <li>Cars (2006)</li>
      <li>Ratatouille (2007)</li>
      <li>WALL-E (2008)</li>
      <li>Up (2009)</li>
      <li>Toy Story 3 (2010)</li>
      <li>Cars 2 (2011)</li>
      <li>Brave (2012)</li>
      <li>Monsters University (2013)</li>
      <li>Inside Out (2015)</li>
      <li>The Good Dinosaur (2015)</li>
      <li>Finding Dory (2016)</li>
      <li>Cars 3 (2017)</li>
      <li>Coco (2017)</li>
      <li>The Incredibles 2 (2018)</li>
      <li>Toy Story 4 (2019)</li>
      <li>Onward (2020)</li>
      <li>Soul (2020)</li>
      <li>Luca (2021)</li>
      <li>Turning Red (2022)</li>
      <li>Lightyear (2022)</li>
      <li>Elemental (2023)</li>
      <li>Inside Out 2 (2024)</li>
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .schedule {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;

    span {
      padding-block: 0.25rem;
    }

    .header {
      font-weight: 700;
      border-bottom: 1px solid white;
      padding-block: 0.5rem;
      margin-block-end: 0.5rem;
    }

    .date {
    }

    .flick {
      &:has(a) {
        color: green;
      }
    }
  }
</style>
