---
import Layout from "../layouts/Layout.astro";
---

<Layout title="The Pixar Project">
  <main>
    <h1 class="mt-2 mb-0 pb-0">The Pixar Project</h1>

    <h2 class="mt-8 mb-4">Schedule</h2>

    <div class="schedule">
      <div class="row header">
        <span class="date">Publish Date</span>
        <span class="flick">Movie</span>
      </div>

      <div class="row">
        <span class="date">2024-09-15</span>
        <span class="flick">Introduction</span>
      </div>

      <div class="row">
        <span class="date">2024-09-22</span>
        <span class="flick">
          <a href="/articles/toy-story">Toy Story</a> (1995)
        </span>
      </div>
    </div>

    <h2 class="mt-8 mb-4">The Agenda</h2>

    <ul class="list-disc ml-16">
      <li><a href="/articles/toy-story">Toy Story (1995)</a></li>
      <li>A Bug's Life (1998)</li>
      <li>Toy Story 2 (1999)</li>
      <li>Monsters Inc. (2001)</li>
      <li>Finding Nemo (2003)</li>
      <li>The Incredibles (2004)</li>
      <li>Cars (2006)</li>
      <li>Ratatouille (2007)</li>
      <li>WALL-E (2008)</li>
      <li>Up (2009)</li>
      <li>Toy Story 3 (2010)</li>
      <li>Cars 2 (2011)</li>
      <li>Brave (2012)</li>
      <li>Monsters University (2013)</li>
      <li>Inside Out (2015)</li>
      <li>The Good Dinosaur (2015)</li>
      <li>Finding Dory (2016)</li>
      <li>Cars 3 (2017)</li>
      <li>Coco (2017)</li>
      <li>The Incredibles 2 (2018)</li>
      <li>Toy Story 4 (2019)</li>
      <li>Onward (2020)</li>
      <li>Soul (2020)</li>
      <li>Luca (2021)</li>
      <li>Turning Red (2022)</li>
      <li>Lightyear (2022)</li>
      <li>Elemental (2023)</li>
      <li>Inside Out 2 (2024)</li>
    </ul>
  </main>
</Layout>

<style>
  .schedule {
    display: flex;
    flex-direction: column;
    flex: 1;

    .row {
      display: flex;
      flex-direction: row;
      flex: 1;
      padding: 0.25rem 0.5rem;

      .date {
        width: 25%;
      }

      .flick {
        width: 75%;

        /*&:has(a) {*/
        /*  color: green;*/
        /*}*/
      }

      &:nth-child(even) {
        background-color: var(--primary-color-dark);
      }
    }

    .header {
      font-weight: 700;
    }

    span {
      padding-block: 0.25rem;
    }
  }
</style>
