---
/**
 * This component is for rendering a single article inside an `ArticleList`
 * component. For the actual sngle article page, see pages/articles/[slug].astro
 */

import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

type Props = {
  article: CollectionEntry<"articles">;
};

const { article } = Astro.props;
---

<div class="article">
  <div class="title"><a href=`/articles/${article.slug}`>{article.data.title}</a></div>
  <!-- image, should be in this local directory -->
  <div class="subhead">
    {article.data.subhead} ({article.data.date})
  </div>
</div>

<style>
  .article {
    margin-block-end: 2rem;

    .title {
      font-size: 1.5rem;
      font-weight: bold;

      a {
        color: orchid;
        text-decoration: none;

        &:hover {
          color: lavender;
          text-decoration: underline;
        }
      }
    }

    .subhead {
      font-size: 1rem;
      padding-inline-start: 2rem;
    }
  }
</style>
