---

---

<header class="bg-violet-500 p-3 grid grid-cols-2 gap-4">
  <div><a href="/">allizon.io</a></div>
  <div class="justify-self-end">
    <a href="/articles">Articles</a> |
    <a href="/garden">Digital Garden</a> |
    <a href="/pixar">Pixar Project</a>
  </div>
</header>
