<header>
  <div class="home"><a href="/">allizon.io</a></div>
  <div class="links">
    <a href="/articles">Articles</a> |
    <a href="/garden">Digital Garden</a> |
    <a href="/pixar">Pixar Project</a>
  </div>
</header>

<style>
  header {
    background-color: darkorchid;
    padding: 1rem;
    display: grid;
    gap: 0.25rem;
    grid-template-columns: 1fr 1fr;

    .home {
      font-weight: 900;
      letter-spacing: 0.1rem;
    }

    .links {
      justify-self: end;
    }
  }

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
</style>
